{
  "extends": [
    "@strv/react",
    "@strv/react/optional",
    "@strv/react/style",
    "@strv/eslint-config-typescript",
    "@strv/eslint-config-typescript/style",
    "prettier"
  ],
  "rules": {
    "import/group-exports": 0,
    "react/prefer-stateless-function": 0
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}